<div class='container-fluid'>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Resume</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navbar-collapse">
        <li class="nav-item active">
          <a class="nav-link" href="#"> About </a>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_url, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_url, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, class:"nav-link", method: :delete %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Edit Resume</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item nav-item" href="#">Action</a>
            <a class="dropdown-item nav-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item nav-item" href="#">Something else here</a>
          </div>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <button class="btn btn-outline-success btn-lg my-2 my-sm-0" type="submit">Search</button>
    </div>
  </nav>

</div>
